<a href="https://colab.research.google.com/github/nywkim/project/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('vgames2.csv')
df = df.drop(df.columns[0], axis=1)
df['Publisher'] = df['Publisher'].fillna('None')
df['Genre'] = df['Genre'].fillna('Undefined')

In [ ]:
df['EU_Sales'] = df['EU_Sales'].str.replace('M', '')
df['NA_Sales'] = df['NA_Sales'].str.replace('M', '')
df['JP_Sales'] = df['JP_Sales'].str.replace('M', '')
df['Other_Sales'] = df['Other_Sales'].str.replace('M', '')
df['EU_Sales'] = df['EU_Sales'].str.replace('K', '/1000')
df['NA_Sales'] = df['NA_Sales'].str.replace('K', '/1000')
df['JP_Sales'] = df['JP_Sales'].str.replace('K', '/1000')
df['Other_Sales'] = df['Other_Sales'].str.replace('K', '/1000')

In [ ]:
df[['NA_Sales_1', 'NA_Sales_2']] = df['NA_Sales'].str.split('/', expand=True)
df['NA_Sales_2'] = df['NA_Sales_2'].fillna(1)
df['NA_Sales'] = (df['NA_Sales_1'].astype(float)) / (df['NA_Sales_2'].astype(float)) * 100
df[['EU_Sales_1', 'EU_Sales_2']] = df['EU_Sales'].str.split('/', expand=True)
df['EU_Sales_2'] = df['EU_Sales_2'].fillna(1)
df['EU_Sales'] = (df['EU_Sales_1'].astype(float)) / (df['EU_Sales_2'].astype(float)) * 100
df[['JP_Sales_1', 'JP_Sales_2']] = df['JP_Sales'].str.split('/', expand=True)
df['JP_Sales_2'] = df['JP_Sales_2'].fillna(1)
df['JP_Sales'] = (df['JP_Sales_1'].astype(float)) / (df['JP_Sales_2'].astype(float)) * 100
df[['Other_Sales_1', 'Other_Sales_2']] = df['Other_Sales'].str.split('/', expand=True)
df['Other_Sales_2'] = df['Other_Sales_2'].fillna(1)
df['Other_Sales'] = (df['Other_Sales_1'].astype(float)) / (df['Other_Sales_2'].astype(float)) * 100
df = df.iloc[:,:9]

In [ ]:
df1 = df[(df['Year'] < 22)]
df1['Year'] = df1['Year'] + 2000

In [ ]:
df2 = df[((df['Year'] < 1960) & (df['Year'] >= 22) )]
df2['Year'] = df2['Year'] + 1900
df1 = pd.concat([df1,df2])
df4 = df[((df['Year'] > 1960) & (df['Year'] <= 2016))]
df1 = pd.concat([df1,df4])

In [ ]:
df4 = df[(df['Year'] > 2016)]
df4['Year'] = [2016, 2009, 2016, 2016]
df1 = pd.concat([df1,df4]) # Year 결측치 제거 버전

In [ ]:
df5 = df[(df['Year'].isnull())]
df5['Year'] = df5['Year'].fillna(1900)
df2 = pd.concat([df1,df5])

In [ ]:
df = df2.sort_index()
df