<a href="https://colab.research.google.com/github/nywkim/project/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('vgames2.csv')
df = df.drop(df.columns[0], axis=1)

In [ ]:
df1 = df.iloc[:,:5]
df2 = df.iloc[:,5:]

In [ ]:
df2['EU_Sales'] = df2['EU_Sales'].str.replace('M', '')
df2['NA_Sales'] = df2['NA_Sales'].str.replace('M', '')
df2['JP_Sales'] = df2['JP_Sales'].str.replace('M', '')
df2['Other_Sales'] = df2['Other_Sales'].str.replace('M', '')

In [ ]:
df2['EU_Sales'] = df2['EU_Sales'].str.replace('K', '/1000')
df2['NA_Sales'] = df2['NA_Sales'].str.replace('K', '/1000')
df2['JP_Sales'] = df2['JP_Sales'].str.replace('K', '/1000')
df2['Other_Sales'] = df2['Other_Sales'].str.replace('K', '/1000')

In [ ]:
df2['Na_Sales_2']

In [ ]:
df2[['NA_Sales_1', 'NA_Sales_2']] = df2['NA_Sales'].str.split('/', expand=True)
df2['NA_Sales_2'] = df2['NA_Sales_2'].fillna(1)
df2['NA_Sales'] = (df2['NA_Sales_1'].astype(float)) / (df2['NA_Sales_2'].astype(float))
df2[['EU_Sales_1', 'EU_Sales_2']] = df2['EU_Sales'].str.split('/', expand=True)
df2['EU_Sales_2'] = df2['EU_Sales_2'].fillna(1)
df2['EU_Sales'] = (df2['EU_Sales_1'].astype(float)) / (df2['EU_Sales_2'].astype(float))
df2[['JP_Sales_1', 'JP_Sales_2']] = df2['JP_Sales'].str.split('/', expand=True)
df2['JP_Sales_2'] = df2['JP_Sales_2'].fillna(1)
df2['JP_Sales'] = (df2['JP_Sales_1'].astype(float)) / (df2['JP_Sales_2'].astype(float))
df2[['Other_Sales_1', 'Other_Sales_2']] = df2['Other_Sales'].str.split('/', expand=True)
df2['Other_Sales_2'] = df2['Other_Sales_2'].fillna(1)
df2['Other_Sales'] = (df2['Other_Sales_1'].astype(float)) / (df2['Other_Sales_2'].astype(float))
df2 = df2.iloc[:,:4]
df2 = df2 * 100

In [ ]:
df.head()

In [ ]:
df2.head()